* {
    font-family: Arial;
}

body {
    background-color: lightblue;
}

h1, h2 {
    background-color: black;
    color: white;
    border: 5px black solid;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    background-color: black;
    color: white;
    font-size: large;
    text-decoration: none;
    border: 5px black solid;
}

li {
    padding-bottom: 12px;
}

img {
    height: 500px;
}